// imports
@use "../abstracts/abstracts" as *;

// bg pattern
.bg-circle {
  position: absolute;
  background-color: color(lightGrayishBlue);
  height: 100%;
  width: 100%;
  z-index: -1;
  clip-path: circle(50% at 86% 11%);
}

// hamburger icons
.hamburger {
  border: 0;
  background: transparent;
  display: none;

  @include responsive(lg) {
    display: block;
  }

  &__icon {
    &--open {
      &.hide {
        display: none;
      }
    }

    &--close {
      &.hide {
        display: none;
      }

      &.active {
        display: block;
      }
    }
  }
}

// nav
.nav {
  position: relative;

  &__content {
    @include maxWidthLg;
    @include sectionSpacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 5rem;
  }

  &__links {
    display: flex;

    @include responsive(lg) {
      display: none;
    }
  }

  &__link {
    @include headingStyles;
    font-size: size(sm);
    margin: 0 2.5rem;
    color: color(veryDarkBlue);

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--login {
      padding-left: 6rem;
      color: color(darkGrayishBlue);
    }
  }
}

// hero
.hero {
  min-height: 80vh;
  overflow-x: hidden;

  &__content {
    min-height: 80vh;
    @include maxWidthLg;
    @include sectionSpacing;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;

    @include responsive(lg) {
      grid-template-columns: 1fr;
    }
  }

  &__lead {
    @include textStyles;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: color(grayishBlue);
    font-size: size(xs);
    padding-bottom: 2rem;
  }

  &__tag {
    background-color: color(black);
    color: color(white);
    padding: 0.7rem;
    border-radius: 1.5rem;
    letter-spacing: 0.12rem;
    font-size: size(xxs);
  }

  &__heading {
    @include headingStyles;
    font-size: size(xxl) + 4rem;
  }

  &__desc {
    @include textStyles;
    font-size: size(md);
    color: color(grayishBlue);
    padding: 3rem 0;
  }

  &__cta {
    display: flex;
    align-items: center;

    &-desc {
      @include textStyles;
      text-transform: uppercase;
      font-size: size(xs);
      color: color(grayishBlue);
      padding-left: 2rem;
    }
  }

  &__devices {
    transform: translateX(25%) scale(1.7);

    @include responsive(lg) {
      transform: scale(1);
    }
  }
}
