// imports
@use "../abstracts/abstracts" as *;

// buttons
.btn {
  @include headingStyles;
  padding: 1.5rem 2rem;
  font-size: size(sm);
  border-radius: 0.5rem;

  &--primary {
    background-color: color(red);
    color: color(white);
    transition: 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten(color(red), 5%);
    }
  }
}

// mobile menu
.mobile-menu {
  display: none;
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: color(white);
  text-align: center;
  padding: 2rem;
  width: 50%;
  box-shadow: -0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);

  &.active {
    display: block;
  }

  &__item {
    margin: 3rem 0;

    &--login {
      border-top: 0.1rem solid color(grayishBlue);
      padding-top: 2rem;
    }
  }

  &__link {
    @include headingStyles;
    font-size: size(sm);
    color: color(veryDarkBlue);

    &--login {
      color: color(grayishBlue);
    }
  }
}
