// section styles
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sectionSpacing() {
  padding: 5rem 2rem;
}

// typography styles
@mixin headingStyles() {
  // headings, call-to-actions, navigation
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.1;
  text-transform: uppercase;
}

@mixin textStyles() {
  // body
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

// container styles
@mixin maxWidthLg() {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin maxWidthMd() {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin maxWidthSm() {
  max-width: 1000px;
  margin: 0 auto;
}

// media queries
@mixin responsive($breakpoint) {
  @if ($breakpoint == lg) {
    @media (max-width: 850px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 650px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 330px) {
      @content;
    }
  }
}
